body {
	background-color: #eceff1;
}

.gragon-zone {
	border: 2px dashed #ccc;
	text-align: center;
}

.gragon-zone.succes {
	background-color: #c5e1a5;
	color: #1b5e20;
	border-color: #388e3c;
}

.gragon-zone.succes .p-empty {
	color: #33691e;
}

.gragon-zone.process .p-empty {
	color: #1565c0;
}

.gragon-zone.process {
	background-color: #b3e5fc;
	border-color: #1e88e5;
	color: #0288d1;
}

.gragon-zone.warn {
	background-color: #ffb74d;
	color: #e65100;
	border-color: #f57c00;
}

.gragon-zone h2 {
	font-size: 20px;
}

.gragon-zone__container {
	width: 300px;
	height: 400px;

	/* margin: 0 auto; */
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 20px;
	user-select: none;
	overflow: auto;
}

.active {
	opacity: 0.5;
}

.container {
	display: flex;
	gap: 30px;
	transform: translateY(30%);

	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
}

.p-empty {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	color: inherit;
	pointer-events: none;
}

.card {
	/* flex: 1; */
	flex-basis: 100px;
	user-select: none;
	display: flex;
	border: 2px solid #940;
	cursor: grab;
	background: #e0f7fa;
	flex-direction: column;
	padding: 20px;
	text-align: left;
	gap: 10px;
}

.card__title {
	font-size: 22px;
	display: inline-flex;
}

.card__text {
	font-size: 16px;
	overflow: hidden;
	cursor: pointer;
	max-height: 35px;
	transition: 1s overflow ease-in-out, 1s max-height ease-in-out;
	-webkit-transition: 1s overflow ease-in-out, 1s max-height ease-in-out;
	-moz-transition: 1s overflow ease-in-out, 1s max-height ease-in-out;
	-ms-transition: 1s overflow ease-in-out, 1s max-height ease-in-out;
	-o-transition: 1s overflow ease-in-out, 1s max-height ease-in-out;
}
.card__text.active {
	overflow: auto;
}
.price {
	color: #455a64;
	font-size: 20px;
	align-self: end;
}

.modal {
	opacity: 1;
	display: block;
	position: fixed;
	inset: 0;

	z-index: 900;
	transition: 1s opacity ease-in-out;
	-webkit-transition: 1s opacity ease-in-out;
	-moz-transition: 1s opacity ease-in-out;
	-ms-transition: 1s opacity ease-in-out;
	-o-transition: 1s opacity ease-in-out;
}

.modal__overlay {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
}

.modal__content {
	width: 300px;
	position: relative;
	margin: auto;
	transform: translateY(50%);
	height: 400px;
	background-color: #eee;
	padding: 25px;
	overflow: hidden;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}
.modal__title {
	text-align: center;
	font-size: 25px;
	font-weight: 700;
}

.form-add-task input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	display: none;
}
input[type="number"] {
	-moz-appearance: textfield;
}
.form-add-task input[name] {
	border: none;
	height: 20px;
	font-size: 20px;
	width: calc(100% - 25px);
	background-color: #fff;
	outline: none;
	border-radius: inherit;
	-webkit-border-radius: inherit;
	-moz-border-radius: inherit;
	-ms-border-radius: inherit;
	-o-border-radius: inherit;
	padding: 12.5px;
}
.form-add-task input[name="taskNumber"] {
	color: #000;
	padding-left: 32px;
	width: calc(100% - 44.5px);
}
.form-add-task input[name]::placeholder {
	font-size: 14px;
}
.tasknumber {
	position: relative;
	border-radius: inherit;
	-webkit-border-radius: inherit;
	-moz-border-radius: inherit;
	-ms-border-radius: inherit;
	-o-border-radius: inherit;
}
.tasknumber::after {
	content: "#";
	position: absolute;
	top: 0px;
	padding-top: 5px;
	left: 5px;
	font-size: 30px;
}
.form-add-task {
	background-color: inherit;
	border-radius: inherit;
	-webkit-border-radius: inherit;
	-moz-border-radius: inherit;
	-ms-border-radius: inherit;
	-o-border-radius: inherit;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.form-add-task input[type="submit"] {
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	height: 64px;
}
